*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/caches
/daemon
/native
/wrapper
gradle/caches
gradle/native
gradle/wrapper/dists
gradle/daemon


